@import "body" ;
@import "celular";

/* logo de la empresa e inicio*/
.logo {
  width: 50px;
}
/* imagenes de las moto*/
.k400 {
  width: 400px;
}
/* imagenes del carousel*/
.slide img{
  height: 500px;
}











